

{% block body %}
    
<h3 class="form-content" style="color:white;font-size: 38px; margin-bottom: 390px;">{{ 'Create new Commande' }}</h3>

    {{ include('commande/_form.html.twig') }}

    {# <a href="{{ path('app_commande_index') }}">back to list</a> #}
{% endblock %}
